body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.scoreboard{
    display: flex;
    flex: 1;
    gap: 100px;
}
/*
addEventListener('click',playerChoice);
    let computerSelection = getComputerChoice();

    var previousResult = playRound(playerSelection, computerSelection);
    winnerResults(previousResult, matchResult);




//Creating the div to display the result !!!Need a function.

const div = document.createElement("div.content");
document.body.appendChild(div);

